In [75]:
from datetime import datetime
import os
import pandas as pd
from pycountry import countries

from hopkins_cleaner import HopkinsDataFull
from us_data_cleaner import USDataCleanUp

pd.options.display.max_rows=500
pd.options.display.max_rows=500

In [76]:
cd ../python_scripts/

/Users/amlvt225/Code/GitHub/coronavirus-analysis/coronavirus/python_scripts

In [77]:
self = HopkinsDataFull()
self.run()
df = self.data

/Users/amlvt225/Code/GitHub/coronavirus-analysis/coronavirus/python_scripts/us_data_cleaner.py:125: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  self.data = pd.concat([df1, df2], axis=0)
/Users/amlvt225/Code/GitHub/coronavirus-analysis/coronavirus/python_scripts/hopkins_cleaner.py:258: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ].rank(ascending=True)
/Users/amlvt225/Code/GitHub/coronavirus-analysis/coronavirus/python_scripts/hopkins_cleaner.py:276: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ].rank(ascending=True)

In [78]:
df.date.max()

Timestamp('2020-03-20 00:00:00')

In [85]:
global_df = df.groupby(['date'])[['daily_new_cases','daily_new_recoveries','daily_new_deaths']].sum().reset_index()
LOGGER.info("Global recent results")
LOGGER.info(global_df.sort_values('date').tail(5))

us = df.loc[df['country_or_region'] == 'US']

us_grp = us.groupby(['date'])[['daily_new_cases','daily_new_recoveries','daily_new_deaths']].sum().reset_index()
LOGGER.info("US recent results")
LOGGER.info(us_grp.sort_values('date').tail(5))

In [43]:
df.to_csv('../output_data/HOPKINS_CLEANED.csv', index=False)

# QA

#### Make sure all US states have the same number of days

In [44]:
def us_province_test(df):
    """
    Make sure all province and states have same number
    of records
    """
    us = df.loc[df['country_or_region'] == 'US']

    grp = us.groupby(['province_or_state'])['daily_new_cases'].size().reset_index()

    # Make sure all state names have same number of records
    assert grp['daily_new_cases'].min() == grp['daily_new_cases'].max()

In [72]:
us

,country_or_region,date,province_or_state,running_total_cases,state_and_country,running_total_cases_prev_day,daily_new_cases,running_total_recoveries,running_total_recoveries_prev_day,daily_new_recoveries,...,longitude,first_case_state_rank,first_case_country_rank,country_code_2,country_code_3,country_population_2018,country_median_age,country_running_agg,hundred_case_state_rank,hundred_case_country_rank
12818,US,2020-01-22,AK,0,AK-US,0.0,0.0,0,0.0,0.0,...,-153.369141,NaN,NaN,US,USA,327167434.0,38.1,1,NaN,NaN
12819,US,2020-01-23,AK,0,AK-US,0.0,0.0,0,0.0,0.0,...,-153.369141,NaN,NaN,US,USA,327167434.0,38.1,1,NaN,NaN
12820,US,2020-01-24,AK,0,AK-US,0.0,0.0,0,0.0,0.0,...,-153.369141,NaN,NaN,US,USA,327167434.0,38.1,2,NaN,NaN
12821,US,2020-01-25,AK,0,AK-US,0.0,0.0,0,0.0,0.0,...,-153.369141,NaN,NaN,US,USA,327167434.0,38.1,2,NaN,NaN
12822,US,2020-01-26,AK,0,AK-US,0.0,0.0,0,0.0,0.0,...,-153.369141,NaN,NaN,US,USA,327167434.0,38.1,5,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16061,US,2020-03-15,WY,3,WY-US,2.0,1.0,0,0.0,0.0,...,-107.290283,NaN,42.0,US,USA,327167434.0,38.1,3499,NaN,9.0
16062,US,2020-03-16,WY,3,WY-US,3.0,0.0,0,0.0,0.0,...,-107.290283,NaN,43.0,US,USA,327167434.0,38.1,4632,NaN,10.0
16063,US,2020-03-17,WY,11,WY-US,3.0,8.0,0,0.0,0.0,...,-107.290283,1.0,44.0,US,USA,327167434.0,38.1,6421,NaN,11.0
16064,US,2020-03-18,WY,15,WY-US,11.0,4.0,0,0.0,0.0,...,-107.290283,2.0,45.0,US,USA,327167434.0,38.1,7783,NaN,12.0
16065,US,2020-03-19,WY,18,WY-US,15.0,3.0,0,0.0,0.0,...,-107.290283,3.0,46.0,US,USA,327167434.0,38.1,13677,NaN,13.0

#### Total US cases

In [32]:
us['daily_new_cases'].sum(), us['daily_new_recoveries'].sum(), us['daily_new_deaths'].sum()

(13677.0, 0.0, 200.0)

In [51]:
us.groupby(['date'])['daily_new_cases'].sum().reset_index().head(5)

        date  daily_new_cases
0 2020-01-22              1.0
1 2020-01-23              0.0
2 2020-01-24              1.0
3 2020-01-25              0.0
4 2020-01-26              3.0

## Check that daily counts are working

In [73]:
def test_daily_vs_total_logic(df):
    max_date = df['date'].max()
    yesterday = df.loc[df['date'] == max_date]
    
    logger.info(f"Total Cases: {df['daily_new_cases'].sum()}")
    logger.info(f"Total Recoveries: {df['daily_new_recoveries'].sum()}")
    logger.info(f"Total Deaths: {df['daily_new_deaths'].sum()}")                
                
                
    yesterday['running_total_cases'].sum(), yesterday['running_total_recoveries'].sum(), yesterday['running_total_deaths'].sum()

    assert yesterday['running_total_cases'].sum() == df['daily_new_cases'].sum()
    assert yesterday['running_total_recoveries'].sum() == df['daily_new_recoveries'].sum()
    assert yesterday['running_total_deaths'].sum() == df['daily_new_deaths'].sum()

In [74]:
test_daily_vs_total_logic(df)

NameError: name 'logger' is not defined

In [33]:
df.loc[df['province_or_state'] == 'WA'].tail(5)

,country_or_region,date,province_or_state,running_total_cases,state_and_country,running_total_cases_prev_day,daily_new_cases,running_total_recoveries,running_total_recoveries_prev_day,daily_new_recoveries,...,longitude,first_case_state_rank,first_case_country_rank,country_code_2,country_code_3,country_population_2018,country_median_age,country_running_agg,hundred_case_state_rank,hundred_case_country_rank
16031,US,2020-03-15,WA,643,WA-US,572.0,71.0,1,1.0,0.0,...,-120.740135,16.0,42.0,US,USA,327167434.0,38.1,3499,9.0,9.0
16032,US,2020-03-16,WA,904,WA-US,643.0,261.0,1,1.0,0.0,...,-120.740135,17.0,43.0,US,USA,327167434.0,38.1,4632,10.0,10.0
16033,US,2020-03-17,WA,1076,WA-US,904.0,172.0,1,1.0,0.0,...,-120.740135,18.0,44.0,US,USA,327167434.0,38.1,6421,11.0,11.0
16034,US,2020-03-18,WA,1014,WA-US,1076.0,-62.0,0,1.0,-1.0,...,-120.740135,19.0,45.0,US,USA,327167434.0,38.1,7783,12.0,12.0
16035,US,2020-03-19,WA,1376,WA-US,1014.0,362.0,0,0.0,0.0,...,-120.740135,20.0,46.0,US,USA,327167434.0,38.1,13677,13.0,13.0

In [34]:
df.loc[df['province_or_state'] == 'VA'].tail(5)

,country_or_region,date,province_or_state,running_total_cases,state_and_country,running_total_cases_prev_day,daily_new_cases,running_total_recoveries,running_total_recoveries_prev_day,daily_new_recoveries,...,longitude,first_case_state_rank,first_case_country_rank,country_code_2,country_code_3,country_population_2018,country_median_age,country_running_agg,hundred_case_state_rank,hundred_case_country_rank
16001,US,2020-03-15,VA,45,VA-US,41.0,4.0,0,0.0,0.0,...,-78.024902,6.0,42.0,US,USA,327167434.0,38.1,3499,NaN,9.0
16002,US,2020-03-16,VA,49,VA-US,45.0,4.0,0,0.0,0.0,...,-78.024902,7.0,43.0,US,USA,327167434.0,38.1,4632,NaN,10.0
16003,US,2020-03-17,VA,67,VA-US,49.0,18.0,0,0.0,0.0,...,-78.024902,8.0,44.0,US,USA,327167434.0,38.1,6421,NaN,11.0
16004,US,2020-03-18,VA,77,VA-US,67.0,10.0,0,0.0,0.0,...,-78.024902,9.0,45.0,US,USA,327167434.0,38.1,7783,NaN,12.0
16005,US,2020-03-19,VA,99,VA-US,77.0,22.0,0,0.0,0.0,...,-78.024902,10.0,46.0,US,USA,327167434.0,38.1,13677,NaN,13.0

In [35]:
df.loc[df['province_or_state'] == 'CA'].tail(5)

,country_or_region,date,province_or_state,running_total_cases,state_and_country,running_total_cases_prev_day,daily_new_cases,running_total_recoveries,running_total_recoveries_prev_day,daily_new_recoveries,...,longitude,first_case_state_rank,first_case_country_rank,country_code_2,country_code_3,country_population_2018,country_median_age,country_running_agg,hundred_case_state_rank,hundred_case_country_rank
15551,US,2020-03-15,CA,426,CA-US,340.0,86.0,6,6.0,0.0,...,-119.417931,42.0,42.0,US,USA,327167434.0,38.1,3499,7.0,9.0
15552,US,2020-03-16,CA,557,CA-US,426.0,131.0,6,6.0,0.0,...,-119.417931,43.0,43.0,US,USA,327167434.0,38.1,4632,8.0,10.0
15553,US,2020-03-17,CA,698,CA-US,557.0,141.0,6,6.0,0.0,...,-119.417931,44.0,44.0,US,USA,327167434.0,38.1,6421,9.0,11.0
15554,US,2020-03-18,CA,751,CA-US,698.0,53.0,0,6.0,-6.0,...,-119.417931,45.0,45.0,US,USA,327167434.0,38.1,7783,10.0,12.0
15555,US,2020-03-19,CA,952,CA-US,751.0,201.0,0,0.0,0.0,...,-119.417931,46.0,46.0,US,USA,327167434.0,38.1,13677,11.0,13.0

In [62]:
df.loc[df['country_or_region'].str.contains('Korea')].tail(5)

,country_or_region,date,province_or_state,running_total_cases,state_and_country,running_total_cases_prev_day,daily_new_cases,running_total_recoveries,running_total_recoveries_prev_day,daily_new_recoveries,...,longitude,first_case_state_rank,first_case_country_rank,country_code_2,country_code_3,country_population_2018,country_median_age,country_running_agg,hundred_case_state_rank,hundred_case_country_rank
6085,South Korea,2020-03-15,Not Provided,8162,Not Provided-South Korea,8086.0,76.0,510,510.0,0.0,...,128.0,45.0,45.0,,,NaN,NaN,8162,25.0,25.0
6086,South Korea,2020-03-16,Not Provided,8236,Not Provided-South Korea,8162.0,74.0,1137,510.0,627.0,...,128.0,46.0,46.0,,,NaN,NaN,8236,26.0,26.0
6087,South Korea,2020-03-17,Not Provided,8320,Not Provided-South Korea,8236.0,84.0,1407,1137.0,270.0,...,128.0,47.0,47.0,,,NaN,NaN,8320,27.0,27.0
6088,South Korea,2020-03-18,Not Provided,8413,Not Provided-South Korea,8320.0,93.0,1540,1407.0,133.0,...,128.0,48.0,48.0,,,NaN,NaN,8413,28.0,28.0
6089,South Korea,2020-03-19,Not Provided,8565,Not Provided-South Korea,8413.0,152.0,1540,1540.0,0.0,...,128.0,49.0,49.0,,,NaN,NaN,8565,29.0,29.0

In [64]:
yesterday.sort_values('running_total_cases', ascending=False)[['country_or_region','running_total_cases','running_total_recoveries','running_total_deaths','country_population_2018','country_median_age']]

,country_or_region,running_total_cases,running_total_recoveries,running_total_deaths,country_population_2018,country_median_age
5973,China,67800,57682,3130,1.392730e+09,37.4
985,Italy,41035,4440,3405,6.043128e+07,45.5
6031,Iran,18407,5710,1284,8.180027e+07,30.3
1101,Spain,17963,1107,830,4.672375e+07,42.7
695,Germany,15320,113,44,8.292792e+07,47.1
6147,France,10871,12,243,6.698724e+07,41.4
6089,South Korea,8565,1540,91,NaN,NaN
15885,US,5365,0,34,3.271674e+08,38.1
1855,Switzerland,4075,15,41,8.516543e+06,42.4
9337,United Kingdom,2689,65,137,6.648899e+07,40.5
11309,Netherlands,2460,2,76,1.723102e+07,42.6
1913,Austria,2013,9,6,8.847037e+06,44.0
1217,Belgium,1795,31,21,1.142207e+07,41.4
2319,Norway,1746,1,7,5.314336e+06,39.2
1043,Sweden,1439,16,11,1.018318e+07,41.2
6205,China,1378,1318,8,1.392730e+09,37.4
16035,US,1376,0,74,3.271674e+08,38.1
6263,China,1273,1250,22,1.392730e+09,37.4
6321,China,1233,1217,1,1.392730e+09,37.4
6901,Denmark,1151,1,6,5.797446e+06,42.2
6379,China,1018,1014,4,1.392730e+09,37.4
6437,China,990,984,6,1.392730e+09,37.4
15555,US,952,0,18,3.271674e+08,38.1
6495,China,935,934,1,1.392730e+09,37.4
115,Japan,924,150,29,1.265291e+08,47.3
289,Malaysia,900,75,2,3.152858e+07,28.5
3479,Portugal,785,3,3,1.028176e+07,42.2
6553,China,761,747,7,1.392730e+09,37.4
15855,US,742,0,9,3.271674e+08,38.1
6611,Cruise Ship,712,325,7,NaN,NaN
7829,Czechia,694,3,0,1.062570e+07,42.1
1971,Israel,677,11,0,8.883800e+06,29.9
6669,China,631,631,0,1.392730e+09,37.4
2087,Brazil,621,2,6,2.094693e+08,32.6
6727,China,576,570,6,1.392730e+09,37.4
2957,Ireland,557,5,3,4.853506e+06,36.8
6785,China,540,536,3,1.392730e+09,37.4
6843,China,483,460,13,1.392730e+09,37.4
6959,China,480,380,8,1.392730e+09,37.4
3131,Qatar,460,4,0,2.781677e+06,33.2
2029,Pakistan,454,13,2,2.122150e+08,23.8
15685,US,422,0,4,3.271674e+08,38.1
2203,Greece,418,8,6,1.072767e+07,44.5
15615,US,417,0,9,3.271674e+08,38.1
753,Finland,400,10,0,5.518050e+06,42.5
15725,US,392,0,10,3.271674e+08,38.1
7017,China,363,326,3,1.392730e+09,37.4
4291,Poland,355,1,5,3.797855e+07,40.7
173,Singapore,345,114,0,5.638676e+06,34.6
3015,Luxembourg,335,0,4,6.077280e+05,39.3
15765,US,334,0,3,3.271674e+08,38.1
2609,Iceland,330,5,1,3.535740e+05,36.5
15735,US,328,0,0,3.271674e+08,38.1
7075,China,318,310,6,1.392730e+09,37.4
3421,Indonesia,311,11,25,2.676634e+08,30.2
405,Australia,307,4,5,2.499237e+07,38.7
7133,China,296,295,1,1.392730e+09,37.4
15625,US,287,0,10,3.271674e+08,38.1
4465,Slovenia,286,0,1,2.067372e+06,44.5
1623,Bahrain,278,100,1,1.569439e+06,32.3
2377,Romania,277,25,0,1.947394e+07,41.1
15565,US,277,0,4,3.271674e+08,38.1
3769,Saudi Arabia,274,6,0,3.369995e+07,27.5
57,Thailand,272,42,1,6.942852e+07,37.7
2435,Estonia,267,1,0,1.320884e+06,42.7
15985,US,260,0,5,3.271674e+08,38.1
5393,Canada,257,5,1,3.705886e+07,42.2
1275,Egypt,256,32,6,9.842360e+07,23.9
7191,China,253,250,2,1.392730e+09,37.4
7249,China,246,237,3,1.392730e+09,37.4
3943,Chile,238,0,0,1.872916e+07,34.4
4813,Peru,234,1,0,3.198926e+07,28.0
347,Canada,231,4,7,3.705886e+07,42.2
869,Philippines,217,8,17,1.066519e+08,23.5
7655,China,208,95,4,1.392730e+09,37.4
15925,US,206,0,1,3.271674e+08,38.1
3189,Ecuador,199,0,3,1.708436e+07,27.7
8177,Russia,199,9,1,1.444780e+08,39.6
927,India,194,15,4,1.352617e+09,28.1
1449,Iraq,192,43,13,3.843360e+07,20.0
9047,Turkey,192,0,3,8.231972e+07,30.9
7307,China,176,172,2,1.392730e+09,37.4
7365,China,168,161,6,1.392730e+09,37.4
16045,US,159,0,0,3.271674e+08,38.1
15575,US,159,0,2,3.271674e+08,38.1
1391,Lebanon,157,4,4,6.848925e+06,30.5
15975,US,154,0,0,3.271674e+08,38.1
4523,South Africa,150,0,0,5.777962e+07,27.1
1681,Kuwait,148,18,0,4.137309e+06,29.3
7423,China,146,144,2,1.392730e+09,37.4
521,Australia,144,8,0,2.499237e+07,38.7
811,United Arab Emirates,140,31,0,9.630959e+06,30.3
7481,China,137,133,3,1.392730e+09,37.4
7597,China,134,91,2,1.392730e+09,37.4
7539,China,133,133,0,1.392730e+09,37.4
7713,China,125,122,1,1.392730e+09,37.4
4929,Slovakia,123,0,1,5.447011e+06,40.5
15815,US,123,0,0,3.271674e+08,38.1
5509,Canada,121,0,1,3.705886e+07,42.2
463,Australia,121,8,0,2.499237e+07,38.7
2493,San Marino,119,4,11,3.378500e+04,44.4
5451,Canada,119,0,0,3.705886e+07,42.2
15895,US,119,0,0,3.271674e+08,38.1
2725,Mexico,118,4,1,1.261908e+08,28.3
3305,Armenia,115,1,0,2.951776e+06,35.1
5915,Panama,109,0,1,4.176873e+06,29.2
8061,Taiwan*,108,26,1,NaN,NaN
15745,US,107,0,1,3.271674e+08,38.1
1797,Croatia,105,5,1,4.089400e+06,43.0
4871,Serbia,103,1,0,6.982084e+06,42.6
4697,Colombia,102,1,0,4.964868e+07,30.0
16005,US,99,0,2,3.271674e+08,38.1
3885,Argentina,97,3,3,4.449450e+07,31.7
15875,US,95,0,1,3.271674e+08,38.1
5161,Bulgaria,94,0,3,7.024216e+06,42.7
7771,China,93,92,1,1.392730e+09,37.4
15775,US,89,0,0,3.271674e+08,38.1
15915,US,88,0,3,3.271674e+08,38.1
1739,Algeria,87,32,9,4.222843e+07,28.1
3653,Latvia,86,1,0,1.926542e+06,43.6
8119,Vietnam,85,16,0,9.554040e+07,30.5
15955,US,81,0,1,3.271674e+08,38.1
15995,US,80,0,0,3.271674e+08,38.1
9975,Uruguay,79,0,0,3.449299e+06,35.0
15525,US,78,0,0,3.271674e+08,38.1
7887,China,76,73,3,1.392730e+09,37.4
7945,China,75,74,1,1.392730e+09,37.4
5683,Brunei,75,0,0,4.289620e+05,30.2
8003,China,75,75,0,1.392730e+09,37.4
4117,Hungary,73,2,1,9.768785e+06,42.3
8467,Denmark,72,0,0,5.797446e+06,42.2
4755,Costa Rica,69,0,1,4.999441e+06,31.3
4001,Jordan,69,1,0,9.956011e+06,22.5
5625,Cyprus,67,0,0,1.189265e+06,36.8
5567,Albania,64,0,2,2.866376e+06,32.9
3711,Morocco,63,1,2,3.602914e+07,29.3
4407,Bosnia and Herzegovina,63,2,0,3.323929e+06,42.1
15535,US,62,0,0,3.271674e+08,38.1
15695,US,60,0,2,3.271674e+08,38.1
637,Sri Lanka,60,3,0,2.167000e+07,32.8
5045,Malta,53,2,0,4.835300e+05,41.8
3537,Andorra,53,1,0,7.700600e+04,44.3
15755,US,52,0,0,3.271674e+08,38.1
2899,Australia,52,0,1,2.499237e+07,38.7
2551,Belarus,51,5,0,9.485386e+06,40.0
15795,US,50,0,1,3.271674e+08,38.1
8351,Moldova,49,1,1,3.545883e+06,36.7
1507,Oman,48,12,0,4.829483e+06,25.6
2261,North Macedonia,48,1,0,2.082958e+06,37.9
15605,US,47,0,0,3.271674e+08,38.1
15545,US,45,0,0,3.271674e+08,38.1
15945,US,44,0,0,3.271674e+08,38.1
15665,US,44,0,0,3.271674e+08,38.1
15905,US,44,0,1,3.271674e+08,38.1
9395,Kazakhstan,44,0,0,1.827650e+07,30.6
3247,Azerbaijan,44,6,1,9.942334e+06,31.3
15845,US,44,0,0,3.271674e+08,38.1
1159,Australia,42,3,0,2.499237e+07,38.7
10265,Venezuela,42,0,0,2.887020e+07,28.3
15585,US,40,0,0,3.271674e+08,38.1
2145,Georgia,40,1,0,3.731000e+06,38.1
4349,Tunisia,39,0,1,1.156520e+07,31.6
15715,US,37,0,2,3.271674e+08,38.1
579,Cambodia,37,1,0,1.624980e+07,25.3
2667,Lithuania,36,1,0,2.789533e+06,43.7
15865,US,35,0,0,3.271674e+08,38.1
3363,Dominican Republic,34,0,2,1.062716e+07,28.1
15705,US,34,0,1,3.271674e+08,38.1
11425,France,33,0,0,6.698724e+07,41.4
5741,Burkina Faso,33,0,1,1.975154e+07,17.3
3827,Senegal,31,2,0,1.585436e+07,18.8
15785,US,31,0,1,3.271674e+08,38.1
15595,US,30,0,0,3.271674e+08,38.1
15835,US,29,0,0,3.271674e+08,38.1
2783,New Zealand,28,0,0,4.885500e+06,37.9
4233,Liechtenstein,28,0,0,3.791000e+04,43.2
11251,Uzbekistan,23,0,0,3.295540e+07,28.6
5103,Martinique,23,0,1,NaN,NaN
1565,Afghanistan,22,1,0,3.717239e+07,18.9
15635,US,22,0,0,3.271674e+08,38.1
16015,US,22,0,0,3.271674e+08,38.1
15825,US,18,0,0,3.271674e+08,38.1
16065,US,18,0,0,3.271674e+08,38.1
8235,China,18,18,0,1.392730e+09,37.4
9511,Canada,17,0,0,3.705886e+07,42.2
5277,Bangladesh,17,3,1,1.613560e+08,26.7
8293,China,17,10,0,1.392730e+09,37.4
4059,Ukraine,16,0,2,4.462252e+07,40.6
15655,US,16,0,0,3.271674e+08,38.1
9569,Canada,16,0,0,3.705886e+07,42.2
8989,Jamaica,15,2,1,2.934855e+06,26.0
11367,Canada,14,0,0,3.705886e+07,42.2
11831,France,14,0,0,6.698724e+07,41.4
8815,Congo (Kinshasa),14,0,0,NaN,NaN
4639,Cameroon,13,0,0,2.521624e+07,18.5
5219,Maldives,13,0,0,5.156960e+05,28.2
8409,Bolivia,12,0,0,1.135314e+07,24.3
8583,Honduras,12,0,0,9.587522e+06,23.0
15645,US,12,0,0,3.271674e+08,38.1
8699,Canada,11,0,0,3.705886e+07,42.2
8641,United Kingdom,11,0,0,6.648899e+07,40.5
5335,Paraguay,11,0,0,6.956071e+06,28.2
15965,US,11,0,1,3.271674e+08,38.1
9163,Cuba,11,0,1,1.133814e+07,41.5
10787,France,11,0,0,6.698724e+07,41.4
10033,Ghana,11,0,0,2.976711e+07,21.1
15805,US,11,0,0,3.271674e+08,38.1
15675,US,11,0,0,3.271674e+08,38.1
3595,Australia,10,3,0,2.499237e+07,38.7
9105,United Kingdom,10,2,0,6.648899e+07,40.5
15515,US,9,0,0,3.271674e+08,38.1
8873,Cote d'Ivoire,9,1,0,2.506923e+07,20.9
10439,Guatemala,9,0,1,1.724781e+07,22.1
9801,Canada,9,0,0,3.705886e+07,42.2
10207,Trinidad and Tobago,9,0,0,1.389858e+06,36.0
10555,Rwanda,8,0,0,1.230194e+07,19.0
2841,Nigeria,8,1,0,1.958747e+08,18.4
3073,Monaco,7,0,0,3.868200e+04,53.1
9859,Kenya,7,0,0,5.139301e+07,19.7
9221,Guyana,7,0,1,7.790040e+05,26.2
5857,Mongolia,6,0,0,3.170208e+06,28.3
9453,France,6,0,0,6.698724e+07,41.4
11715,Tanzania,6,0,0,5.631835e+07,17.7
11135,Equatorial Guinea,6,0,0,1.308974e+06,19.8
10149,Seychelles,6,0,0,9.676200e+04,35.4
9627,Ethiopia,6,0,0,1.092246e+08,17.9
15935,US,5,0,0,3.271674e+08,38.1
11889,Barbados,5,0,0,2.866410e+05,38.6
9279,Australia,4,0,0,2.499237e+07,38.7
12121,Netherlands,4,0,0,1.723102e+07,42.6
8525,France,4,0,0,6.698724e+07,41.4
11773,United Kingdom,3,0,1,6.648899e+07,40.5
10091,Namibia,3,0,0,2.448255e+06,21.2
8931,France,3,0,0,6.698724e+07,41.4
11077,Congo (Brazzaville),3,0,0,NaN,NaN
11599,Netherlands,3,0,1,1.723102e+07,42.6
16025,US,3,0,0,3.271674e+08,38.1
10903,Canada,3,0,0,3.705886e+07,42.2
11193,France,3,0,0,6.698724e+07,41.4
11947,Montenegro,3,0,0,6.223450e+05,40.7
12063,Mauritius,3,0,0,1.265303e+06,35.3
12411,"Bahamas, The",3,0,0,NaN,NaN
12005,Kyrgyzstan,3,0,0,6.315800e+06,26.5
11541,Liberia,2,0,0,4.818977e+06,17.8
16055,US,2,0,0,3.271674e+08,38.1
12179,Zambia,2,0,0,1.735182e+07,16.8
9685,Sudan,2,0,1,4.180153e+07,19.9
10961,Canada,2,0,0,3.705886e+07,42.2
12469,Denmark,2,0,0,5.797446e+06,42.2
10845,Kosovo,2,0,0,6.982084e+06,42.6
12527,France,2,0,0,6.698724e+07,41.4
11483,Benin,2,0,0,1.148505e+07,18.2
10613,Saint Lucia,2,0,0,1.818890e+05,34.8
10497,Mauritania,2,0,0,4.403319e+06,20.5
12585,United Kingdom,2,0,0,6.648899e+07,40.5
8757,China,1,1,0,1.392730e+09,37.4
4581,Bhutan,1,0,0,7.543940e+05,27.6
12643,Chad,1,0,0,1.547775e+07,17.8
4175,Australia,1,0,0,2.499237e+07,38.7
12353,United Kingdom,1,0,0,6.648899e+07,40.5
4987,Togo,1,0,0,7.889094e+06,19.8
231,Nepal,1,1,0,2.808787e+07,24.1
12701,El Salvador,1,0,0,6.420744e+06,27.1
12295,"Gambia, The",1,0,0,NaN,NaN
9743,Guinea,1,0,0,1.241432e+07,18.9
9917,Antigua and Barbuda,1,0,0,9.628600e+04,31.9
11657,Somalia,1,0,0,1.500815e+07,18.1
12237,Djibouti,1,0,0,9.589200e+05,23.9
10323,Eswatini,1,0,0,1.136191e+06,NaN
10381,Gabon,1,0,0,2.119275e+06,18.6
10671,Saint Vincent and the Grenadines,1,0,0,1.102100e+05,33.6
10729,Suriname,1,0,0,5.759910e+05,29.8
12759,Fiji,1,0,0,8.834830e+05,28.9
11019,Central African Republic,1,0,0,4.666377e+06,19.7
5799,Holy See,1,0,0,NaN,NaN
12817,Nicaragua,1,0,0,6.465513e+06,25.7
1333,Australia,0,0,0,2.499237e+07,38.7

## QA of Data

In [65]:
# This indicates a shift in the data
df.loc[df['daily_new_cases'] < 0]['date'].value_counts()

2020-03-16    4
2020-03-18    4
2020-03-06    2
2020-03-13    1
2020-01-23    1
2020-02-29    1
2020-02-07    1
2020-03-09    1
2020-01-31    1
2020-02-02    1
Name: date, dtype: int64

In [66]:
# This indicates a shift in the data
us.loc[us['daily_new_cases'] < 0]

,country_or_region,date,province_or_state,running_total_cases,state_and_country,running_total_cases_prev_day,daily_new_cases,running_total_recoveries,running_total_recoveries_prev_day,daily_new_recoveries,...,longitude,first_case_state_rank,first_case_country_rank,country_code_2,country_code_3,country_population_2018,country_median_age,country_running_agg,hundred_case_state_rank,hundred_case_country_rank
15632,US,2020-03-16,Grand Princess,20,Grand Princess-US,21.0,-1.0,0,0.0,0.0,...,NaN,10.0,43.0,US,USA,327167434.0,38.1,4632,NaN,10.0
15874,US,2020-03-18,NV,55,NV-US,56.0,-1.0,0,0.0,0.0,...,-117.224121,8.0,45.0,US,USA,327167434.0,38.1,7783,NaN,12.0
16034,US,2020-03-18,WA,1014,WA-US,1076.0,-62.0,0,1.0,-1.0,...,-120.740135,19.0,45.0,US,USA,327167434.0,38.1,7783,12.0,12.0

In [67]:
us['daily_new_cases'].sum(), us['daily_new_recoveries'].sum(), us['daily_new_deaths'].sum()

(13677.0, 0.0, 200.0)

In [68]:
# This indicates a shift in the data
df.loc[df['daily_new_cases'] < 0]['province_or_state'].value_counts()

Not Provided             7
Queensland               2
NV                       1
Guizhou                  1
From Diamond Princess    1
WA                       1
Diamond Princess         1
Northern Territory       1
Saint Barthelemy         1
Grand Princess           1
Name: province_or_state, dtype: int64