In [1]:
cd ../python_scripts/

/Users/amlvt225/Code/GitHub/coronavirus-analysis/coronavirus/python_scripts

In [2]:
from datetime import datetime
import os
import pandas as pd
from pycountry import countries

from hopkins_cleaner import HopkinsDataFull
from us_data_cleaner import USDataCleanUp

pd.options.display.max_rows=500
pd.options.display.max_columns=500

In [3]:
self = HopkinsDataFull()

In [4]:
self.run()

/Users/amlvt225/Code/GitHub/coronavirus-analysis/coronavirus/python_scripts/hopkins_cleaner.py:103: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  df["previous_days_date"] = df["date"] + pd.np.timedelta64(1, "D")
/Users/amlvt225/Code/GitHub/coronavirus-analysis/coronavirus/python_scripts/hopkins_cleaner.py:252: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ].rank(ascending=True)
/Users/amlvt225/Code/GitHub/coronavirus-analysis/coronavirus/python_scripts/hopkins_cleaner.py:270: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ].rank(ascending=True)

In [ ]:
self = self.confirmed

In [ ]:
self.read_initial_data()

In [ ]:
self.stack_initial_dataset()

In [ ]:
self.data

In [ ]:
jh = self.JH_raw

In [ ]:
jh.shape

In [ ]:
jh['province_or_state'] = jh['province_or_state'].fillna("NOT PROVIDED BY JHU")

In [ ]:
jh.groupby(['country_or_region','province_or_state']).size().reset_index()

In [ ]:
jh.loc[jh['country_or_region'] == 'US']

In [ ]:
df = self.data

In [ ]:
df.country_or_region.value_counts().reset_index().sort_values('index')

In [ ]:
df.loc[df['country_or_region'] == 'US']['province_or_state']

In [ ]:

self.run()

In [5]:
df = self.data

In [6]:
df.date.max()

Timestamp('2020-03-24 00:00:00')

In [7]:
df.head(2)

,country_or_region,date,province_or_state,running_total_cases,state_and_country,running_total_cases_prev_day,daily_new_cases,running_total_deaths,running_total_deaths_prev_day,daily_new_deaths,state_name,latitude,longitude,first_case_state_rank,first_case_country_rank,country_code_2,country_code_3,country_population_2018,country_median_age,country_running_agg,hundred_case_state_rank,hundred_case_country_rank
0,Afghanistan,2020-01-22,Not Provided,0,Not Provided-Afghanistan,0.0,0.0,0,0.0,0.0,NaN,33.0,65.0,NaN,NaN,AF,AFG,37172386.0,18.9,0,NaN,NaN
1,Afghanistan,2020-01-23,Not Provided,0,Not Provided-Afghanistan,0.0,0.0,0,0.0,0.0,NaN,33.0,65.0,NaN,NaN,AF,AFG,37172386.0,18.9,0,NaN,NaN

In [8]:
df.shape

(15183, 22)

In [9]:
df.drop_duplicates(['province_or_state', 'country_or_region','date']).shape

(15183, 22)

In [10]:
cases = df['daily_new_cases'].sum()

In [12]:
deaths = df['daily_new_deaths'].sum()

In [13]:
df.date.min(), df.date.max()

(Timestamp('2020-01-22 00:00:00'), Timestamp('2020-03-24 00:00:00'))

In [15]:
cases - deaths

400053.0

In [16]:
cases

418678.0

In [17]:
us = df.loc[df['country_code_3'] == 'USA']

In [18]:
us.daily_new_cases.sum()

53740.0

In [21]:
us.groupby(['date'])['daily_new_cases'].sum()

date
2020-01-22        1.0
2020-01-23        0.0
2020-01-24        1.0
2020-01-25        0.0
2020-01-26        3.0
2020-01-27        0.0
2020-01-28        0.0
2020-01-29        0.0
2020-01-30        0.0
2020-01-31        2.0
2020-02-01        1.0
2020-02-02        0.0
2020-02-03        3.0
2020-02-04        0.0
2020-02-05        0.0
2020-02-06        0.0
2020-02-07        0.0
2020-02-08        0.0
2020-02-09        0.0
2020-02-10        0.0
2020-02-11        1.0
2020-02-12        0.0
2020-02-13        1.0
2020-02-14        0.0
2020-02-15        0.0
2020-02-16        0.0
2020-02-17        0.0
2020-02-18        0.0
2020-02-19        0.0
2020-02-20        0.0
2020-02-21        2.0
2020-02-22        0.0
2020-02-23        0.0
2020-02-24       36.0
2020-02-25        0.0
2020-02-26        6.0
2020-02-27        1.0
2020-02-28        2.0
2020-02-29        8.0
2020-03-01        6.0
2020-03-02       24.0
2020-03-03       20.0
2020-03-04       31.0
2020-03-05       68.0
2020-03-06       45.0
2020-03-07      140.0
2020-03-08      116.0
2020-03-09       65.0
2020-03-10      376.0
2020-03-11      322.0
2020-03-12      382.0
2020-03-13      516.0
2020-03-14      548.0
2020-03-15      772.0
2020-03-16     1133.0
2020-03-17     1789.0
2020-03-18     1362.0
2020-03-19     5894.0
2020-03-20     5423.0
2020-03-21     6389.0
2020-03-22     7787.0
2020-03-23    10571.0
2020-03-24     9893.0
Name: daily_new_cases, dtype: float64

In [ ]:
df.to_csv('../output_data/HOPKINS_CLEANED.csv', index=False)

In [ ]:
for col in list(df.columns):
    print(col)

# QA

#### Make sure all US states have the same number of days

#### Total US cases

In [ ]:
us['daily_new_cases'].sum(), us['daily_new_recoveries'].sum(), us['daily_new_deaths'].sum()

In [ ]:
us.groupby(['date'])['daily_new_cases'].sum().reset_index().head(5)

## Check that daily counts are working

In [ ]:
test_daily_vs_total_logic(df)

In [ ]:
df.loc[df['province_or_state'] == 'WA'].tail(5)

In [ ]:
df.loc[df['province_or_state'] == 'VA'].tail(5)

In [ ]:
df.loc[df['province_or_state'] == 'CA'].tail(5)

In [ ]:
df.loc[df['country_or_region'].str.contains('Korea')].tail(5)

In [ ]:
yesterday.sort_values('running_total_cases', ascending=False)[['country_or_region','running_total_cases','running_total_recoveries','running_total_deaths','country_population_2018','country_median_age']]

## QA of Data

In [ ]:
# This indicates a shift in the data
df.loc[df['daily_new_cases'] < 0]['date'].value_counts()

In [ ]:
# This indicates a shift in the data
us.loc[us['daily_new_cases'] < 0]

In [ ]:
us['daily_new_cases'].sum(), us['daily_new_recoveries'].sum(), us['daily_new_deaths'].sum()

In [ ]:
# This indicates a shift in the data
df.loc[df['daily_new_cases'] < 0]['province_or_state'].value_counts()